<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BPSService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <!-- Register a section handler for the log4net section -->
        <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    </configSections>
    <log4net>
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <!--<file value="Logs/bps-log-file-[%processid].txt" />-->
            <file type="log4net.Util.PatternString">
        <conversionPattern value="Logs/bps-log-file-[%processid].txt" />
      </file>
            <appendToFile value="true" />
            <encoding value="UTF-8" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyyMMdd" />
            <maxSizeRollBackups value="200" />
            <maximumFileSize value="50MB" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
        </appender>
        <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <!--<file value="Logs/error-file-[%processid].txt"/>-->
			<file type="log4net.Util.PatternString">
        <conversionPattern value="Logs/error-file-[%processid].txt" />
      </file>
            <appendToFile value="true"/>
            <encoding value="UTF-8"/>
            <rollingStyle value="Composite"/>
            <maxSizeRollBackups value="50"/>
            <datePattern value="yyyyMMdd"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="WARN"/>
                <levelMax value="FATAL"/>
            </filter>
        </appender>
        <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
            <to value="duonglh@fss.com.vn" />
            <from value="duonglh@fss.com.vn" />
            <subject value="BPSService" />
            <smtpHost value="mail.fss.com.vn" />
            <bufferSize value="512" />
            <lossy value="true" />
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="WARN"/>
                <levelMax value="FATAL"/>
            </filter>
            <evaluator type="log4net.Core.LevelEvaluator">
                <threshold value="WARN"/>
            </evaluator>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
            </layout>
        </appender>
        <!-- Setup the root category, add the appenders and set the default level -->
        <root>
            <level value="WARN" />
            <appender-ref ref="ErrorLogFileAppender" />
            <!--<appender-ref ref="SmtpAppender" />-->
        </root>
        <logger name="BPSService">
            <level value="INFO" />
            <appender-ref ref="RollingLogFileAppender" />
        </logger>
        <!-- Specify the level for some specific categories -->
        <!--<logger name="M4.Program">
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <additivity value="false"/>
    </logger>-->
    </log4net>
    <appSettings>
        <add key="@DIRECT_HOST.PRV" value="0" />
        <add key="@DIRECT_HOST.DSN" value="FLEX" />
        <add key="@DIRECT_HOST.UID" value="HOST" />
        <add key="@DIRECT_HOST.PWD" value="msi2016" />
        <add key="@DIRECT_HOST.IDB" value="HOST" />
        <add key="@DIRECT_HOST.LANG" value="EN" />
        <add key="@DIRECT_HOST.TRACE" value="N" />
        <add key="@DIRECT_HOST.MINPOOLSIZE" value="2" />
        <add key="@DIRECT_HOST.MAXPOOLSIZE" value="60" />
        <add key="@DIRECT_HOST.LIFETIME" value="200" />
        <!-- Thoi gian cache refresh trong he thong-->
        <add key="CacheTimeOutInMs" value="30000"/>
        <!--Co cho phep mua ban cung phien tren giao dien khong-->
        <add key="CheckSameBuySell" value="false"/>
        <!--Co cho phep dat lenh truoc phien-->
        <add key="CheckSessionPlaceOrder" value="false"/>
        <!--Co chan chia lenh khoi luong lon khong-->
        <add key="DisableDivideBigVolumnOrder" value="false"/>
        <add key="LogDetailSQL" value="false"/>
        <add key="CHANNEL_VIA" value="O"/>
        <!--Token Settings-->
        <add key="TOKEN_WS_DATE_FORMAT" value="yyyy-dd-MM HH:mm:ss"/>
        <add key="TOKEN_WS_TIMESTAMP_FORMAT" value="ddd MMM dd HH:mm:ss ICT yyyy"/>
    <!--Route HFT mode: Full, Partial, Off-->
    <add key="HFTMode" value="Partial"/>
	<!--Danh sach cac giao dich can check tai khoan FO-->
    <add key="PreCheckHFTRequire" value=""/>
    <add key="AMOUNTFIELDS" value="|P_AMOUNT|P_QTTY|"/>
    <add key="ACCTNOFIELDS" value="|P_ACCOUNT|"/>
    <add key="RECACCTNOFIELDS" value="|P_TOACCOUNT|"/>
    <add key="IDFIELDS" value="|BANKID|P_CAMASTID|P_BANKID|"/>
    </appSettings>
    <connectionStrings />
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
        <compilation debug="false" strict="false" explicit="true" targetFramework="4.0">
        </compilation>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
            <namespaces>
                <clear />
                <add namespace="System" />
                <add namespace="System.Collections" />
                <add namespace="System.Collections.Generic" />
                <add namespace="System.Collections.Specialized" />
                <add namespace="System.Configuration" />
                <add namespace="System.Text" />
                <add namespace="System.Text.RegularExpressions" />
                <add namespace="System.Linq" />
                <add namespace="System.Xml.Linq" />
                <add namespace="System.Web" />
                <add namespace="System.Web.Caching" />
                <add namespace="System.Web.SessionState" />
                <add namespace="System.Web.Security" />
                <add namespace="System.Web.Profile" />
                <add namespace="System.Web.UI" />
                <add namespace="System.Web.UI.WebControls" />
                <add namespace="System.Web.UI.WebControls.WebParts" />
                <add namespace="System.Web.UI.HtmlControls" />
            </namespaces>
        </pages>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
    <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <applicationSettings>
        <BPSService.My.MySettings>
            <setting name="AuthenticationDomain" serializeAs="String">
                <value>ipa.com.vn</value>
            </setting>
            <setting name="CheckLoginPassword" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="BankGWPassword" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BDSServiceTellerID" serializeAs="String">
                <value>6868</value>
            </setting>
            <setting name="BDSServiceBranchID" serializeAs="String">
                <value>0001</value>
            </setting>
            <setting name="BankGWUserName" serializeAs="String">
                <value>ADMIN</value>
            </setting>
        </BPSService.My.MySettings>
    </applicationSettings>
    <system.serviceModel>
        <services>
            <service behaviorConfiguration="IOnlineTradingWcfBehavior" name="IOnlineTradingWcfService">
                <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
                <endpoint address="" bindingConfiguration="netTcpBindingOnlineTradingWcf" binding="netTcpBinding" contract="BPSService.IOnlineTradingWcf"/>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="IOnlineTradingWcfBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                    <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483647" />
                    <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="2147483647" maxConcurrentSessions="2000"/>
                </behavior>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483647" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
        <bindings>
            <basicHttpBinding>
                <binding name="BankGWServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                  receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="TokenValidatorWSPortBinding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
				<binding name="FrontGateServiceServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
					receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
					bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
					messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
					useDefaultWebProxy="true">
						  <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384"
							  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
						  <security mode="None">
							<transport clientCredentialType="None" proxyCredentialType="None"
								realm="" />
							<message clientCredentialType="UserName" algorithmSuite="Default" />
						  </security>
				</binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="netTcpBindingOnlineTradingWcf" maxBufferSize="65536000"
                  maxReceivedMessageSize="65536000">
                    <security mode="None">
                        <transport clientCredentialType="None" protectionLevel="None" />
                        <message clientCredentialType="None" />
                    </security>
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBDSService" closeTimeout="00:01:00"
                  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                  bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
                  textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                      enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                          establishSecurityContext="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.100.15.40/BankGWService/BankGWService.asmx"
              binding="basicHttpBinding" bindingConfiguration="BankGWServiceSoap"
              contract="BankGWService.BankGWServiceSoap" name="BankGWServiceSoap" />
            <endpoint address="http://10.1.128.16/BDSService/BDSService.svc"
              binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBDSService"
              contract="BDSService.IBDSService" name="WSHttpBinding_IBDSService" />
            <endpoint address="http://10.100.13.31:8080/MServerGate/cxf/TokenValidationWS"
                      binding="basicHttpBinding" bindingConfiguration="TokenValidatorWSPortBinding"
                      contract="TokenValidationWS" name="TokenValidationWSPort" />
			<endpoint address="http://10.100.20.27:8181/cxf/FOService" binding="basicHttpBinding"
					  bindingConfiguration="FrontGateServiceServiceSoapBinding"
					  contract="IFrontGateService" name="FrontGateServicePort" />
        </client>
    </system.serviceModel>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument enabled="true">
            <files>
                <add value="OnlineTradingWcf.svc"/>
            </files>
        </defaultDocument>
    </system.webServer>
  <system.net>
    <connectionManagement>
      <clear />
      <add address="*" maxconnection="1000" />
    </connectionManagement>
  </system.net>
</configuration>
